<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.online.voteapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.online.voteapp.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.online.voteapp.registration" />
        <activity android:name="com.android.online.voteapp.authenticate" />
        <activity android:name="com.android.online.voteapp.home" />
        <activity
            android:name="com.android.online.voteapp.navhome"
            android:label="@string/title_activity_navhome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.android.online.voteapp.list"
            android:exported="true" />
        <activity
            android:name="com.android.online.voteapp.pres"
            android:exported="true" />
        <activity android:name="com.android.online.voteapp.success" />
        <activity android:name="com.android.online.voteapp.profile" />
        <activity android:name="com.android.online.voteapp.question" />
        <activity android:name="com.android.online.voteapp.quesview" />
        <activity android:name="com.android.online.voteapp.gov" />
        <activity android:name="com.android.online.voteapp.votes"/>
<!--        <service-->
<!--            android:name=".periodic.PeriodicTaskService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />-->
<!--            </intent-filter>-->
<!--        </service>-->
    </application>

</manifest>